<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Project Viewer</title>

	<!-- CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body {
			padding-top: 50px;
		}
	</style>
</head>

<body class="container">
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="/login">Sign in</a></li>
					<li><a href="/register">Sign up</a></li>
					<li><a href="/new_issue">New issue</a></li>
					<li><a href="/new_project">New project</a></li>
					<li><a href="/edit_issue">Edit issue</a></li>
					<li><a href="/new_task">New task</a></li>
					<li><a href="/edit_task">Edit task</a></li>
					<li><a href="/new_sprint">New sprint</a></li>
					<li><a href="/edit_sprint">Edit sprint</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<br><br><br>
		<br><br><br>
		<center>
			<h1>Project Viewer</h1>
		</center>
		<br><br><br>
		<br><br><br>
		<br><br><br>
	</main>

	<footer>
		<p class="text-center text-muted">&copy; Copyright CDP-2018 groupe 1-2</p>
	</footer>

</body>

</html>